version: "3.8"
services:

  cloudflared:
    container_name: cloudflared
#    env_file: cloudflare_configs/cloudflare.env if the tunnel was setup via the UI
    build:
      context: .
      dockerfile: Cloudflared.dockerfile
    networks:
      - nextcloud_network
      - cineplex_network
      - jenkins_network
      - finance_site_network
      - jobs_site_network
      - podcasts_site_network
      - git_slack_pr_bot_network
      - atlassion_endpoint_stubs_network

networks:
  nextcloud_network:
    name: nextcloud_network
    driver: bridge
  cineplex_network:
    name: cineplex_network
    driver: bridge
  jenkins_network:
    name: jenkins_network
    driver: bridge
  finance_site_network:
    name: finance_site_network
    driver: bridge
  jobs_site_network:
    name: jobs_site_network
    driver: bridge
  podcasts_site_network:
    name: podcasts_site_network
    driver: bridge
  git_slack_pr_bot_network:
    name: git_slack_pr_bot_network
    driver: bridge
  atlassion_endpoint_stubs_network:
    name: atlassion_endpoint_stubs_network
    driver: bridge
