tunnel: <TUNNEL UUID>
credentials-file: /etc/cloudflared/credentials.json
warp-routing:
  enabled: false

ingress:
 - hostname: <hostname>
   service: http://<docker container name>:<port that service is running on>
 - service: http_status:404
